{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}



<div class="left-form">
  <h1 class="talk">LEAVE A MESSAGE</h1>
  <p class="talk-down">Enter your details below along with your message, and hit the Send button to submit your enquiry. We will then respond to your message as soon as we possibly can</p>
  {{ form.name }}
  {{ form.mail }}
  {{ form.message }}
  {{ form.actions.submit }}
</div>