
{{ form.form_build_id }}
{{ form.form_token }}
{{ form.form_id }}
{{ form.subject }}
{{ form.message }}
<div class="container">
  <div class="personal-info">
    <p class="pers">Personal Information</p>
    {{ form.field_full_name }}
    {{ form.field_company }}
    {{ form.field_monthly }}
    {{ form.field_city }}
  </div>
  <div class="account-info">
    <p class="acc">Account Information</p>
    <div class="account-mail">
      {{ form.account.mail }}
    </div>
    <div class="account-pass">
      {{ form.account.pass.pass1 }}
      <div class="hello-pass">
        <label class="label-pass">Confirm Password</label>
        {{ form.account.pass.pass2 }}
      </div>
    </div>
  </div>
  <div class="subm-reg">
    {{ form.actions.submit }}
  </div>
</div>