<div class="result-text">
	<div class="container">
		<h3 class="result-congr">Thanks for using CompareFuelTestKits.com! Based on your information, we would recommend the following product(s):</h3>
		<div class="result-main">
			<div class="items">
			{% for items in text %}
			<div class="elements-result">
				<img src="{{ items.image }}" width="300px" height="200px">
				<p>{{ items.text }}.</p>
			</div>
			{% endfor %}
			</div>
			<div class="main-reason">
				<h5>Here are the main reasons why:</h5>
				<li>You selected Reliability as your top priority</li>
				<li>You are looking for a Fully Quantitative Result</li>
				<li>You selected IP Standard Test Method as your most important accreditation</li>
			</div>
		</div>
		<div class="sidebar-menu">
			{% if text|length > 1 %}
			<p>We found you more than one result:</p>
			<select>
				{% for item in text|keys %}
					<option value="{{ item + 1 }}">Best choice {{ item + 1 }}</option>
				{% endfor %}
			</select>
			{% endif %}
		</div>
	</div>
		<div class="send-res">
			<p>We hope you find our recommendation useful. If you have gathered all the information you were looking for, simply click the <strong>“I’m Done”</strong> button below. Alternatively, if you would like to be contacted with more details of the product(s) recommended above (including pricing and availability), please click the <strong>“Send me Info”</strong> button and we will make sure you are contacted shortly. Thank you for using CompareFuelTestKits.com!</p>
			<a class="again-button" href="/first-step">I’m Done</a>
			<div class="feedback-res">
				{{ feedback }}
			</div>
		</div>
</div>
